.home-page {
    background-color: rgb(199, 255, 255);
    font-size: 14px;
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
    line-height: 1.5;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.box {
    width: auto;
    background-color: rgba(0, 128, 128, 0.641);
    border-radius: 10px;
    position: absolute;
    top: 7%;
    transform: translate(5%, -5%);
    overflow-wrap: break-word;
}
.box p {
    margin: 0;
}
.box > p {
    background-color: rgba(176, 255, 255, 0.641);
    margin: 0;
    height: 30px;
    padding: 10px 0;
    /* font-family: 'Caveat';
    font-style: italic; */
    /* font-weight: bold;  */
    font-size: 23px;
    display: flex; 
    align-items: center;
    justify-content: center;
}
.box-detail {
    display: flex;
    gap: 40px;
    padding: 5px 0;
    margin: 10px 20px;
}

/* ------------------------
Schedule 
---------------------------*/
.schedule {
    max-width: 30%;
    left: 1%;
}

.duotone-circle {
    font-size: 10px;
    color: rgb(20, 213, 213);
    margin: 6px 15px 0 0;
    align-self: auto;
}

.schedule-dash {
    border-left: 1px dashed rgb(0, 106, 106);
    width: 2px;
    height: 25px
}
.schedule-activities {
    display: flex;
}
.schedule-activities span {
    text-align: left;
}

/* ------------------------
Deadline 
---------------------------*/
.deadline {
    max-width: 45%;
    left: 33%;
}

.deadline-detail {
    /* display: flex; */
}
/* ------------------------
Course 
---------------------------*/


/* ------------------------
Goal 
---------------------------*/
.goal {
    display: flex;
    align-items: center;
  }

.goal-arrow {
    border-top: 1px solid #000;
    width: 50px;
    margin-right: 10px;
}

.milestone-list {
    list-style-type: none;
    padding: 0;
}

.milestone-item {
    margin-bottom: 10px;
}